.earn-cont {
  border-radius: 30px;
  border: 1px solid var(--tutedude-color-secondary-20, #ffecd7);
  background: var(--tutedude-color-secondary-10, #fff6ec);
  display: flex;
  /* width: 568px; */
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.earn-name-div {
  display: flex;
  align-items: center;
  gap: 16px;
}
.earn-name {
  color: var(--tutedude-color-neutral-20100, #374957);
  font-family: Poppins;
  font-size: 32px;
  font-size: clamp(24px, 2.5vw, 2rem); 
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.hrr{
    background: #FFECD7;
    width: 100%;
    height: 2px;
}
.earn-join {
  border-radius: 100px;
  background: var(--tutedude-color-secondary-20, #ffecd7);
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #ffa239;
  font-family: Poppins;
  font-size: 16px;
  font-size: clamp(.6rem, 1vw, 2rem); 
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.prof{
  width:clamp(50px, 6vw, 100px);
}
.earn-reward-cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.earn-reward {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.earn-reward-head {
  color: var(--tutedude-color-neutral-2050, #9ba4ab);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-size: clamp(1rem, 1vw, 2rem); 
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.earn-reward-text {
  color: var(--tutedude-color-neutral-20100, #374957);
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-size: clamp(1rem, 2.5vw, 2rem); 
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.earn-withdraw-cont {
  border-radius: 20px;
  background: #ffa239;
  display: flex;
  cursor: pointer;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.earn-withdraw-text {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  line-height: normal;
  text-transform: capitalize;
}
